<div class="px-4 py-5 text-center bg-img">
    <div class="container bg-white-custom py-5">
        <h1 class="display-5 fw-bold saibaigreenLogo sgLogoHeroFix">栽培Green</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Revolutionizing urban farming with micro-greens and vertical farming techniques.
                Transforming unused office buildings into farms for high-quality nutrition and sustainability in urban
                areas.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">support us</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">read more</button>
            </div>
        </div>
    </div>
</div>