<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 px-0 my-2">
            <img src="https://imgix.obi.de/api/disc/cms/public/dam/DE-AT-Assets/pflanzen/microgreens-anbauen/kuechengarten-microgreens-gewaessert-detail.jpg?crop=focalpoint&fit=crop&fp-x=0.52&fp-y=0.66&fp-z=1&h=1079&w=1920&auto=format%2Ccompress" class="img-fluid" alt="microgreens">
        </div>
        <div class="col-lg-8 text-center d-flex flex-column align-self-center my-2">
            <p>Welcome to 栽培Green, your one-stop-shop for micro-greens and vertical farming solutions. We specialize in providing fresh, organic and sustainable produce for urban areas, revolutionizing the way we grow and consume food.</p>
            <p>Our micro-greens are grown with precision, love and care. We understand the importance of good food for a healthy lifestyle, and our range of micro-greens has been carefully selected to provide maximum nutrition and taste. Whether you are looking for arugula, kale, basil, or other delicious greens, we have got you covered.</p>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 px-0">
            <img src="https://www.diehl.com/cms/files/banner_Claim.jpg?box_crop=1400%2C467" width="100%" alt="sustainable">
        </div>
    </div>
    <div class="row">        
        <div class="col-lg-8 text-center d-flex flex-column align-self-center my-2">
            <p>At 栽培Green, we are passionate about sustainable farming and helping people grow their own food. Our vertical farming solutions have been designed to provide the perfect growing environment for urban areas, without the need for large plots of land. We provide everything from the growing racks to the seeds, making it easy for anyone to start their own farm.</p>
            <p>We are committed to making a difference in the world by promoting sustainable farming practices and reducing our carbon footprint. Our products are grown using organic and eco-friendly techniques, making them not only delicious but also environmentally friendly.</p>
        </div>
        <div class="col-lg-4 px-0 my-2">
            <img src="https://media.timeout.com/images/105900109/image.jpg" class="img-fluid" alt="vertical farm">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-5">            
            <p class="h6 my-5">Join us in the journey towards a more sustainable and healthy future, one micro-green at a time.</p>
            <button class="btn btn-outline-primary">Join us now!</button>
        </div>
    </div>
</div>